

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<%= @closing_story %>

<% if @game.door_open %>
  <h1>You escape!</h1>
  <h2>for now...</h2>
<% else %>
  <h1>You failed to escape.</h1>
  <h2>Game Over.</h2>
<% end %>
