<h1>Game Intro</h1>

You are being chased by a nameless horror. Whether it creeped into existence from your dreams is unclear, but you woke up in a bed drenched in terror sweat and there it was, looming over you. <br><br>

So you fled, and all you are wearing is your jim-jams and your bare feet.<br><br>

Fleeing down this long hallway with the horror in pursuit, you realize you don’t know exactly where you are. It looks like a hallway in a hotel from the early 1900’s. Rich, gaudy, worn and dark. You try several doors to your left and right as you run but they are all locked. At the end of the hall is an open door into what appears to be an office.<br><br>

You enter, slam the door behind you and turn the lock pushing the deadbolt into place.<br><br>

The horror is coming. You must get out of this room, and you can't get out the way you came in.<br><br>

<%= link_to 'Continue', game_path(@game), notice: "The horror is coming. You must get out of this room, and you can't get out the way you came in." %>